{% extends "blog/base_easy.html"%}
{% load static %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container" >

  <h4>Principles Of Marketing</h4>

  <div class="w3-card-4" style="width:30%">
    <img src="{% static 'img/hult_frame.jpg' %}" alt="MKT" style="width:100%">	
    
<div class="w3-card-4">
  <div class="w3-container w3-center">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Public Speaking</li>
        <li class="list-group-item list-group-item-light">Market Research</li>
        <li class="list-group-item list-group-item-light">Power Point Presentation</li>
    </ul>
  </div>
</div>
</div>


  <h4>Principles Of Finance</h4>

  <div class="w3-card-4" style="width:30%">
    <img src="{% static 'img/hult_frame.jpg' %}" alt="FIN" style="width:100%">  
    
<div class="w3-card-4">
  <div class="w3-container w3-center">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Business Analysis</li>
        <li class="list-group-item list-group-item-light">Financial Accounting</li>
        <li class="list-group-item list-group-item-light">Company Valuation</li>
    </ul>
  </div>
</div>
</div>


 <h4>Principles Of Accounting</h4>

  <div class="w3-card-4" style="width:30%">
    <img src="{% static 'img/hult_frame.jpg' %}" alt="MKT" style="width:100%"> 
    
<div class="w3-card-4">
  <div class="w3-container w3-center">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Financial reporting</li>
        <li class="list-group-item list-group-item-light">Financial Statemtn Analysis</li>
        <li class="list-group-item list-group-item-light">Excel</li>
    </ul>
  </div>
</div>
</div>


</body>

{% endblock content %}



