{% extends "blog/base_easy.html"%}
{% load static %}
{%block content %}
<link rel="stylesheets" href="{% static 'blog/main.css' %}">
<div class="blockons" >
<a href="https://learning.linkedin.com/blog/top-skills/the-skills-companies-need-most-in-2019--and-how-to-learn-them" target="blank" style="text-align:center; color: grey"><h2>Most demanded skill according to LinkedIn</h2></a>
<p style="text-align:center">Click on the link above to learn more</p>

<table>
	<tr>
		<td><h2 >Soft Skills</h2></td>
		<td>     </td>
		<td>     </td>
		<td>     </td>
		<td><h2>Hard Skills</h2></td>
	</tr>

	<tr>
		<td><li>Crativity</li>
		<li>Persuasion</li>
		<li>Collaboration</li>
		<li>Adaptability</li>
		<li>Time Management</li></td>
		<td>     </td>
		<td>     </td>
		<td>     </td>
		<td><li>Cloud Computing</li>
		<li>Artificial Intelligence</li>
		<li>Analytical Reasoning</li>
		<li>People Management</li>
		<li>UX Design</li>
		<li>ETC...</li></td>
	</tr>
</table>

</div>




{% endblock content %}